@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 36, 36, 36;
}

body {
  color: white;
  background: linear-gradient(to right,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
}

.index-low {
  z-index: 0;
}

.index-high {
  z-index: 1 !important;
}
@media (max-width: 768px) {
  .nav {
      transition: 0.5s ease;
      width: 100% !important;
      z-index: 1;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
  }

  .link {
      text-align: center !important;
      -webkit-tap-highlight-color: transparent;
      padding: 0 !important;
  }

  .desktop {
      display: none;
  }

  .header {
      z-index: 1;
      background-color: #181818;
      height: 4rem !important;
  }

  .mobile {
      display: flex;
      justify-content: space-around !important;
      align-items: center !important;
      width: 100% !important;
      height: 5rem;
      column-gap: 5rem;
      z-index: 20;
      border-bottom: 1px solid rgba(72, 202, 228, 0.2);
  }

  .mobile .icon {
      position: absolute;
      right: 2rem;
  }

  .mobile .logo {
      width: 7rem;
      position: absolute;
      left: 0rem;
      top: -0.6rem
  }

  .icon img {
      width: 2rem !important;
  }

  .slider {
      display: none;
  }

  .desktop-nav {
      display: none !important;
  }

  .animate-out {
      animation: out 1s ease;
      animation-fill-mode: forwards;
  }

  .animate-in {
      animation: in 1s ease;
      animation-fill-mode: forwards;
  }

  @keyframes out {
      0% {
          opacity: 1;
          left: 0;
      }

      100% {
          left: -100rem;

      }
  }

  @keyframes in {
      0% {
          opacity: 1;
          left: -30rem;
      }

      100% {
          opacity: 1;
          left: 0rem;
      }
  }
}

@media (min-width: 768px) {
  .mobile-nav {
      display: none !important;
  }

  .header {
      display: none !important;
  }
}